/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling for the navbar */
.nav-bar {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.nav-bar .hamburger {
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nav-bar .hamburger span {
  width: 25px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
}

/* Hide the menu by default in mobile view */
.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.nav-menu button {
  background: none;
  border: none;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.nav-menu button:hover {
  background-color: #444;
}

/* Content area */
#content {
  margin-left: 250px; /* Sidebar width */
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-bar .nav-menu {
    flex-direction: row;
    flex: 5;
  }
  /* Collapse the navbar */
  .nav-bar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
  }

  .nav-bar.open {
    display: flex;
    flex-direction: column;
  }

  .nav-bar .hamburger {
    display: flex;
    top: 10px;
    margin-left: 20px;
    flex: 1;
  }

  .nav-menu.open {
    display: flex;
    background-color: aqua;
  }

  /* Open the mobile friendly Navbar */
}

.nav-bar .projectList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav-bar .projectList span {
  padding: 30px;
}
